*~
.hydra
*pyc
.venv/
.venv312/
.venv314/
.cache/
.libero/
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/

# OpenPI Integration Environments and Test Scripts
.venv_converter/
replicate_algo_tests.sh
